modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 19790
externalPort = 3000

[[ports]]
localPort = 19791
externalPort = 3001

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_oWrTdWQdnRetDDrsQIpcJnTZhRJ"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_yKesvEvyxJXgScmbbxiDefpViez"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_TBavHcDXZEyBWPPAuAfdJEzgUpq"
REVENUECAT_PROJECT_ID = "proj782c830b"

[nix]
channel = "stable-25_05"
